@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./assets/fonts/fonts.css);
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");


:root {
  --nav-container: 0 10%;
  --container: 0 15%;
  --col-6: 50%;
  --libre: "Libre Bodoni", serif;
  --hel-b: font-family: 'Helvetica Bold', sans-serif;
  --hel: font-family: 'Helvetica', sans-serif;
  --hel-light: font-family: 'Helvetica Light', sans-serif;
  --h2: 44px;
  --head: 40px;
  --para: 16px;
  --para-sm: 16px;
  --section: 80px;
  --gap: 60px;
  /* color */
  --dark: #033d5a;
  --blue: #224ce0;
  --border: #033d5a3b;
  --border-secondary: #D6E4EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--hel);
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Helvetica", sans-serif;
}

.border-dotted {
  border-radius: 32px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.container {
  padding: var(--container);
}

.container .col-6 {
  width: var(--col-6);
  height: 100%;
}

@media screen and (min-width: 2000px) {
  .container {
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn {
  padding: 13px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-light {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: 0.5s ease;
}

.btn-blue {
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: 50px;
  transition: 0.5s ease;
  color: #fff;
  font-size: var(--para);
  font-weight: 400;
  font-family: var(--hel);
}

.icon-mid {
  width: 28px;
  height: 28px;
}

.icon {
  margin-left: 20px;
  width: 24px;
  height: 24px;
}

.navbar {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  z-index: 100;
  background-color: transparent;
  position: fixed;
  border-bottom: 2px solid transparent;
  margin-top: 57px;
  transition: 0.5s ease;
}

.navbar.bg-light {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: #444bd2bf;
  border-bottom: 1px solid #ffffff;
  transition: 0.5s ease;
  margin-top: 0 !important;
}

.navbar .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--nav-container);
}

.navbar .container .col-6:last-child {
  width: var(--col-6);
  display: flex;
  justify-content: flex-end;
}

.navbar .container .col-6 .location {
  width: var(--col-6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;
  gap: 12px;
}

.navbar .container .col-6 .location .para {
  font-size: var(--para);
  color: #fff;
  font-weight: 400;
}

.navbar .container .col-6 .number .callBtn {
  font-size: 26px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.navbar .container .col-6 .number .para {
  font-size: var(--para);
  color: #fff;
  font-weight: 400;
}

.hero {
  background-color: #444ad2;
  height: 760px;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.hero .personBg {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  fill: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.08) 100%);
  mix-blend-mode: soft-light;
}

.hero::before {
  content: "";
  width: 684px;
  height: 492px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4dacef;
  mix-blend-mode: hard-light;
  filter: blur(140px);
  transform: rotate(300deg);
  border-radius: 50%;
  z-index: -1;
}

.hero::after {
  content: "";
  width: 684px;
  height: 492px;
  position: absolute;
  top: 0;
  right: 5%;
  background-color: #835feb;
  filter: blur(140px);
  border-radius: 50%;
  transform: rotate(126deg);
  z-index: -1;
}

.hero .container {
  padding: var(--container);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero .container .herohead {
  font-size: var(--h2);
  line-height: 140%;
  color: white;
  font-weight: 400;
  margin-bottom: 32px;
  width: 95%;
}

.hero .container .herohead .libra {
  font-size: var(--h2);
  line-height: 140%;
  color: white;
  font-weight: 400;
  font-family: var(--libre);
  font-style: italic;
}

.hero .container .herohead .hrBottom {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  width: max-content;
}

.hero .hrBottom::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 95%;
  height: 6px;
  background-color: #f6de04;
  border-radius: 50px;
  transform: rotate(-4deg);
  animation: 0.5s draw linear forwards;
  opacity: 1;
}

.hero .hrBottom::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 95%;
  height: 6px;
  background-color: #f6de04;
  border-radius: 50px;
  transform: rotate(1deg);
  animation: 0.5s draw linear forwards;
  opacity: 1;
}

@keyframes draw {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}

.hero .left .para-sm {
  font-size: var(--para-sm);
  color: #fff;
  width: 60%;
  margin-bottom: 60px;
  font-weight: 400;
  line-height: 180%;
}

.hero .btn-light {
  font-family: var(--hel);
  font-size: var(--para-sm);
  font-weight: 700;
  color: var(--dark);
  cursor: pointer;
}

.btn-light:hover,
.btn-blue:hover {
  background-color: #033d5a;
  color: #fff;
}

.hero .left .btn-light .calendar-icon {
  background-image: url(./assets/icon/calendar.svg);
  transition: 0.5s ease;
}

.hero .left .btn-light:hover .calendar-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(136%) hue-rotate(62deg) brightness(112%) contrast(100%);
}

.hero .left .btn-light .icon {
  margin-left: 20px;
  width: 24px;
  height: 24px;
}

.hero .right {
  position: relative;
}

.hero .right .rightImage {
  width: 500px;
  height: 680px;
  object-fit: contain;
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 100;
}

.fecility-sec {
  position: relative;
  height: 100%;
  width: 100vw;
  padding-top: var(--section);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fecility-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(to top, #eef9ff, #fff);
  z-index: -1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.fecility-sec .container {
  padding: var(--container);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex-direction: column;
}

.fecility-sec .container .top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15%;
}

.fecility-sec .container .top .left .facility {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fecility-sec .right .sheild {
  width: 74px;
  height: 74px;
  margin-bottom: 10px;
}

.fecility-sec .right h2 {
  color: #033d5a;
  font-size: var(--head);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  width: 50%;
  margin-bottom: 25px;
}

.fecility-sec .right .para {
  color: #033d5a;
  font-size: var(--para);
  font-weight: 400;
  line-height: 170%;
  width: 80%;
  margin-bottom: 40px;
}

.btn-blue .calendar-icon {
  background-image: url(./assets/icon/calendar.svg);
  transition: 0.5s ease;
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(136%) hue-rotate(62deg) brightness(112%) contrast(100%);
}

.fecility-sec .btn-blue .icon {
  margin-left: 20px;
  width: 24px;
  height: 24px;
}

.fecility-sec .bottom {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.fecility-sec .bottom .tech-card .card-icon {
  height: 54px;
  width: 54px;
  margin-bottom: 18px;
}

.fecility-sec .bottom .tech-card .card-body {
  padding-top: 16px;
  position: relative;
}

.fecility-sec .bottom .tech-card .card-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background-color: #338cca;
}

.fecility-sec .bottom .tech-card .card-body h3 {
  color: #033d5a;
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 14px;
}

.fecility-sec .bottom .tech-card .card-body .para {
  color: #033d5a;
  font-family: Helvetica;
  font-size: var(--para-sm);
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  width: 80%;
}

.reviews {
  margin-top: var(--section);
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.reviews .top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.reviews .reviews-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--border);
  padding: 10px 28px;
  border-radius: 50px;
  margin-left: 0;
  width: max-content;
}

.reviews .reviews-card p {
  font-size: var(--para);
  font-weight: bold;
  color: var(--dark);
}

.reviews .reviews-card .star {
  margin-left: 10px;
  width: 20px;
}

.reviews .reviews-card p span {
  margin: 0 5px;
}

.reviews .h-Bar {
  animation-name: marquee1;
}

.reviews .h-Bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews .h-Bar ul li {
  list-style-type: none;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;

  font-size: 18px;
  font-weight: 500;
  color: var(--dark);
  text-wrap: nowrap;
}

.reviews .marquee-block {
  position: relative;
  display: flex;
  width: 100%;
  animation: marquee1 infinite 5000s linear;
  justify-content: space-between;
}

@keyframes marquee1 {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.reviews .marquee .testi-logo {
  width: 50px;
  height: 47px;
}

.reviews .marquee .body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.reviews .marquee .body .body-name {
  color: #033d5a;
  font-size: var(--para);
  font-weight: 700;
  line-height: 180%;
  text-transform: capitalize;
}

.reviews .marquee .body .para {
  color: #033d5a;
  font-size: var(--para);
  font-weight: 400;
  line-height: 180%;
  margin-right: 5px;
}

.reviews .h-Bar ul li .quote-icon {
  background-image: url("./assets/icon/qoute.svg");
  color: #033d5a;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

/* hospital */

.hospital {
  background: url("./assets/hospital.jpg");
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: var(--section);
  padding-top: 50px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hospital::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg,
      #033d5a 50%,
      rgba(3, 61, 90, 0.4) 112.36%);
  mix-blend-mode: multiply;
  z-index: -1;
}

.hospital .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hospital .container .head {
  color: #fff;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  line-height: 132%;
  width: 90%;
}

.hospital .container .head span {
  color: #7cc7fc;
  font-size: 58px;
  font-style: italic;
  font-weight: 900;
  line-height: 132%;
}

.hospital .container .para {
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 129%;
  padding: 5px 30px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: var(--section);
}

.about .container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom,
      #4dacef,
      rgba(77, 172, 239, 0));
  border-top-left-radius: 100%;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--nav-container);
  width: 100%;
  position: relative;
}

.about .container .right {
  position: relative;
  bottom: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container .right img {
  width: 400px;
  height: 100%;
  object-fit: scale-down;
}

.about .container .left h2 {
  color: #033d5a;
  font-size: var(--head);
  font-weight: 700;
  line-height: 140%;
  width: 70%;
  margin-bottom: 24px;
}

.about .container .left .para {
  color: #033d5a;
  font-size: var(--para-sm);
  font-weight: 400;
  line-height: 180%;
  width: 72%;
  margin-bottom: 32px;
}

.about .container .left .about-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 80px;
  align-items: center;
  margin-bottom: 50px;
}

.about .container .left .about-list li {
  list-style-type: none;
  margin-bottom: 24px;
  position: relative;
  margin-left: 20px;
}

.about .container .left .about-list li::before {
  content: url("./assets/icon/check-icon.svg");
  position: absolute;
  left: -32px;
  top: 2px;
  height: 20px;
  width: 20px;
}

.about .container .left .about-list li p {
  color: #033d5a;
  font-size: var(--para-sm);
  font-weight: 400;
  line-height: 180%;
}

.about .container .left h4 {
  color: #033d5a;
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
  width: 80%;
  margin-bottom: 35px;
}

.about .container .left .btn-grp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 35px;
}

.about .container .left .btn-grp .btn-light-blue {
  border: 1px solid var(--blue);
  background-color: transparent;
  border-radius: 50px;
  text-decoration: none;
  color: #224ce0;
  font-size: var(--para);
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.about .container .left .btn-grp .btn-light-blue:hover {
  background-color: var(--dark);
  color: #fff;
  border-color: var(--dark);
}

.about .container .left .btn-grp .btn-light-blue:hover .call-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(136%) hue-rotate(62deg) brightness(112%) contrast(100%);
}

.about .container .left .btn-grp .btn-light-blue .call-icon {
  background-image: url("./assets/icon/call-arrow.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  margin-left: 20px;
  transition: 0.5s ease;
}

.whyUs {
  position: relative;
  z-index: 10;
  margin-top: var(--section);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyUs::before {
  content: "";
  position: absolute;
  top: 0;
  right: -15%;
  background-image: url("./assets/heroBg-Person-blue.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyUs .container {
  padding: var(--nav-container);
  display: flex;
  flex-direction: column;
}

.whyUs .container h2 {
  color: #033d5a;
  font-size: var(--head);
  font-weight: 700;
  line-height: 140%;
  /* 56px */
  margin-bottom: 40px;
}

.whyUs .container .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.whyUs .container .card:last-child {
  margin-bottom: 0;
}

.whyUs .container .card img {
  border-radius: 20px;
}

.whyUs .container .card .card-head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.whyUs .container .card .number {
  border-radius: 8px;
  background: #e9f6ff;
  display: flex;
  padding: 10px 16px;
  margin-right: 60px;
  position: relative;
  top: 0;

  color: #033d5a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.whyUs .container .card .card-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  margin-left: 144px;
}

.whyUs .container .card .card-body .head {
  color: #033d5a;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
  /* 50.4px */
  margin-bottom: 16px;
  width: 80%;
  text-align: left;
}

.whyUs .container .card .card-body .para {
  color: #033d5a;
  font-size: var(--para);
  font-weight: 400;
  line-height: 180%;
}

#location {
  margin-top: var(--section);
  padding: var(--nav-container);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#location .container {
  padding: 6%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 20px;
  background-image: url("./assets/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#location .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-image: linear-gradient(to left, #edf8ff00, #edf8ff, #edf8ff);
  z-index: -1;
  border-radius: 20px;
}

#location .container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background: radial-gradient(157.32% 40.66% at 76.86% 33.65%, rgba(237, 248, 255, 0.00) 0%, #edf8ffda 100%);
  z-index: -1;
  border-radius: 20px;
}

#location .container .btn-blue {
  margin-top: 40px;
  cursor: pointer;
  font-size: var(--para);
}

#location .container .btn-light-blue:hover .map-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(136%) hue-rotate(62deg) brightness(112%) contrast(100%);
}

#location .container .btn-blue .map-icon {
  background-image: url("./assets/icon/loaction-line.png");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  margin-left: 20px;
  transition: 0.5s ease;
}

#location .head {
  color: #033d5a;
  font-size: var(--head);
  font-family: var(--hel-b);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 32px;
  width: 70%;
}

#location .details {
  margin-bottom: 32px;
}

#location .details .title {
  color: #033D5A;
  font-family: var(--hel-b);
  font-size: var(--para);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 10px;
}

#location .details .para {
  color: #033D5A;
  font-family: var(--hel);
  font-size: var(--para);
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
}

#location .right {
  position: relative;
  height: 500px;
}

#location .right::before {
  content: '';
  position: absolute;
  top: 12%;
  right: 42%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue);
  z-index: 100;
}

#location .right::after {
  content: '';
  position: absolute;
  top: 10.8%;
  right: 41.1%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #224be072;
  background-color: #224be08c;
  z-index: 100;
  animation: 2s linear blink infinite;
}




@keyframes blink {
  0% {
    transform: scale(0);
    opacity: 0.4;
  }

  50% {
    transform: scale(2);
    opacity: 0.5;
  }

  75% {
    transform: scale(3);
    opacity: 0.3;
  }

  100% {
    transform: scale(4);
    opacity: 0;
  }
}

#location .box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

#location .box .map-icon {
  background-image: url("./assets/icon/location.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  margin-left: 20px;
  transition: 0.5s ease;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(16%) saturate(7074%) hue-rotate(206deg) brightness(98%) contrast(98%);
}

#location .box .text {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

#location .box h6 {
  color: #033D5A;
  font-family: var(--hel);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  width: 50%;
  margin-right: 40px;
}

#location .box img {
  width: 183px;
  height: 135px;
}

.faq {
  margin-top: var(--section);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.faq .container {
  padding: var(--nav-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

.faq .accordionItem {
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open-sans', Arial, sans-serif;
  margin-top: 20px;
}

.faq .accordionItem .acc-head:focus,
.faq .accordionItem .acc-head:active {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.faq .acc-head {
  cursor: pointer;
  color: #033D5A;
  font-family: var(--hel);
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 2px solid var(--border-secondary);
}

.faq .close .accordionItemContent p {
  height: 0;
  float: left;
  display: block;
  transition: .5s ease;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  opacity: 0;
}

.faq .open .accordionItemContent p {
  padding: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-bottom: 2px solid var(--border-secondary);
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  box-sizing: border-box;
  transition: .5s ease;
  opacity: 1;
  height: max-content;
}

.faq .open .accordionItemContent p {
  color: #033D5A;
  font-family: Helvetica;
  font-size: var(--para-sm);
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.faq .open .acc-head {
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
  border: 2px solid transparent;

  color: #033D5A;
  font-family: var(--hel);
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.faq .open .acc-head .toggle-icon {
  position: relative;
  background-color: #e9f6ff;
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

.faq .open .acc-head .toggle-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./assets/icon/minus.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.faq .close .acc-head .toggle-icon {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--border-secondary);
  width: 36px;
  height: 36px;
  border-radius: 6px;
}

.faq .close .acc-head .toggle-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./assets/icon/plus.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.faq h2.head {
  font-size: var(--head);
  color: #033D5A;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 30px;
}

.faq .faqImage {
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq .right {
  display: flex;
  flex-direction: column;
}

.faq .right .para {
  color: #033D5A;
  font-family: var(--hel);
  font-size: var(--para);
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 28px;
}

.faq .container .right .btn-light-blue {
  border: 1px solid var(--blue);
  background-color: transparent;
  border-radius: 50px;
  text-decoration: none;
  color: #224ce0;
  font-size: var(--para);
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  width: max-content;
}

.faq .container .right .btn-light-blue:hover {
  background-color: var(--dark);
  color: #fff;
  border-color: var(--dark);
}

.faq .container .right .btn-light-blue:hover .call-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(136%) hue-rotate(62deg) brightness(112%) contrast(100%);
}

.faq .container .right .btn-light-blue .call-icon {
  background-image: url("./assets/icon/call-arrow.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-flex;
  margin-left: 20px;
  transition: 0.5s ease;
}

.footer {
  background: #033D5A;
  margin-top: var(--section);
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.footer .container {
  padding: var(--container);
  width: 100%;
}

.footer .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 36px;
  margin-bottom: 36px;
  border-bottom: 1px solid var(--border-secondary);
  width: 100%;
}

.footer .container .top h6 {
  color: #FFF;
  font-family: var(--hel);
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
  width: 35%;
}

.footer .container .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.footer .container .bottom .left {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  gap: 60px;
}

.footer .container .bottom .left p {
  color: #FFF;
  font-family: var(--hel-b);
  font-size: var(--para);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 10px;
}

.footer .container .bottom .left a {
  color: #FFF;
  font-family: var(--hel);
  font-size: var(--para);
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-decoration: none;
}

.footer .container .bottom .right {
  width: 50%;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer .btn-blue:hover {
  background-color: #fff;
  color: var(--dark);
}

.footer .btn-blue:hover .calendar-icon {
  background-image: url(./assets/icon/calendar.svg);
  transition: 0.5s ease;
  filter: brightness(0) saturate(100%) invert(31%) sepia(16%) saturate(7074%) hue-rotate(206deg) brightness(98%) contrast(98%);
}

.footer .container .bottom .right .social-icons {
  width: max-content;
}

.footer .container .bottom .right .icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(136%) hue-rotate(62deg) brightness(112%) contrast(100%);
  background-repeat: no-repeat;
}

.footer .container .bottom .right .facebook {
  background-image: url('./assets/icon/facebook.svg');
  background-position: center;
  background-size: contain;
}

.footer .container .bottom .right .linkedin {
  background-image: url('./assets/icon/linkedin.svg');
  background-position: center;
  background-size: contain;
}

.footer .container .bottom .right .twitter {
  background-image: url('./assets/icon/twitter.svg');
  background-position: center;
  background-size: contain;
}

.footer .container .bottom .right .youtube {
  background-image: url('./assets/icon/youtube.svg');
  background-position: center;
  background-size: contain;
}

.footer .container .bottom .right .instagram {
  background-image: url('./assets/icon/insta.svg');
  background-position: center;
  background-size: contain;
}

.footerLogo {
  margin-bottom: -125px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1600px) {
  .about .container .left h2 {
    width: 85%;
  }

  .about .container .left .para {
    width: 80%;
  }

  .about .container .left .about-list li p {
    width: max-content;
  }

  #location .right::before {
    top: 12%;
    right: 32%;
  }

  #location .right::after {
    top: 10.8%;
    right: 31%;
  }

  .faq .acc-head {
    padding-bottom: 10px;
  }

  #location .head {
    width: 90%;
  }

  .hospital .container .head {
    width: 100%;
  }

  .hospitalMri {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1440px) {

  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 50%;
    --h2: 44px;
    --head: 40px;
    --para: 16px;
    --para-sm: 16px;
    --section: 80px;
  }

  .faq .acc-head {
    font-size: 20px;
  }

  .faq .container .left {
    min-height: 800px;
  }

  #location .box h6 {
    width: 40%;
  }

  #location .right::before {
    top: 16%;
    right: 30%;
  }

  #location .right::after {
    top: 14.9%;
    right: 28.9%;
  }

  .whyUs .container .card .card-body .head {
    width: 100%;
  }

  .fecility-sec .bottom .tech-card .card-body .para {
    width: 105%;
  }

  .fecility-sec .bottom .tech-card .card-body::before {
    width: 40%;
  }

  .hospitalMri {
    width: 70%;
    height: 50%;
    object-fit: cover;
  }

  .about .container::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(to bottom,
        #4dacef,
        rgba(77, 172, 239, 0));
    border-top-left-radius: 100%;
  }

  .whyUs .container .card .card-body {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1366px) {
  .btn {
    padding: 13px 30px;
  }

  .navbar {
    margin-top: 30px;
  }

  .hero .right .rightImage {
    width: 460px;
  }

  .hero .container .herohead {
    width: 100%;
  }

  .about .container .left .para {
    width: 100%;
  }

  .about .container .left .about-list {
    gap: 30px;
  }

  .whyUs .container .card .card-body .head {
    font-size: 32px;
  }

  .footer .container .top h6 {
    width: 50%;
  }

  .fecility-sec .right .para {
    width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 50%;
    --h2: 38px;
    --head: 36px;
    --para: 16px;
    --para-sm: 16px;
    --section: 80px;
  }

  .text-wrap {
    text-wrap: wrap;
  }

  .fecility-sec .bottom {
    margin-top: 80px;
  }

  .reviews .top {
    margin-bottom: 40px;
  }

  .reviews .h-Bar ul li {
    margin-right: 50px;
  }

  .about .container .left .btn-grp {
    gap: 10px;
  }

  .whyUs .container .card .card-body {
    margin-left: 80px;
  }

  .whyUs .container .card .card-body .para {
    width: 100%;
  }

  .whyUs .container .card .card-body .head {
    font-size: 28px;
  }

  .faq .container {
    gap: 120px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 50%;
    --h2: 32px;
    --head: 36px;
    --para: 16px;
    --para-sm: 16px;
    --section: 80px;
  }

  .hero .right .rightImage {
    width: 440px;
  }

  .hero .left .para-sm {
    width: 80%;
  }

  .navbar .container .col-6 .number .para {
    display: none;
  }

  .navbar .container .col-6 .number .callBtn {
    font-size: 20px;
  }

  .navbar .container .col-6 .location .para {
    font-size: var(--para);
    color: #fff;
    font-weight: 400;
    text-wrap: nowrap;
  }

  .fecility-sec .container .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
  }

  .fecility-sec .bottom .tech-card .card-body h3 {
    width: 90%;
  }

  .hospital .container .head,
  .hospital .container .head span {
    font-size: 40px;
  }

  .about .container .left .about-list {
    gap: 0;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .about .container .left h2 {
    width: 100%;
  }

  .whyUs .container .card .card-head {
    position: relative;
  }

  .whyUs .container .card .number {
    padding: 5px 10px;
    font-size: var(--para);
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .about .container .left .btn-grp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
    flex-direction: column;
  }

  #location .right::after {
    top: 16.8%;
    right: 8.4%;
  }

  #location .right::before {
    top: 18%;
    right: 10%;
  }

  #location .box img {
    width: 150px;
    height: 100px;
  }

  .whyUs .container .card img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    min-width: 300px;
  }

  .footer {
    margin-top: 0;
  }

  #location .head {
    width: 100%;
  }

  .faq .container {
    gap: 80px;
  }

  .faq .acc-head {
    padding-bottom: 20px;
  }

  .footer .container .top h6 {
    font-size: 22px;
  }

  .faq .container .left {
    min-height: 650px;
  }
}

@media screen and (max-width: 980px) {
  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 50%;
    --h2: 32px;
    --head: 28px;
    --para: 16px;
    --para-sm: 14px;
    --section: 80px;
  }

  .fecility-sec .bottom .tech-card .card-body h3 {
    color: #033d5a;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 14px;
  }

  .about .container .left h4 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 50%;
    --h2: 22px;
    --head: 28px;
    --para: 14px;
    --para-sm: 14px;
    --section: 60px;
  }

  .navbar .container .col-6 {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }

  .navbar .container .left img {
    width: 100%;
  }

  .navbar .container .col-6:last-child {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
  }

  .navbar .container .col-6 .location {
    width: var(--col-6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    gap: 12px;
  }

  .navbar .container .col-6 .location {
    width: max-content;
  }

  .whyUs .container .card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .whyUs .container .card .card-body {
    margin-left: 0px;
    margin-top: 20px;
  }

  .whyUs .container .card .card-body .para {
    width: 50%;
  }

  .fecility-sec {
    padding-top: 0;
  }

  .fecility-sec::before {
    height: 25%;
  }

  .hero .right .rightImage {
    width: 100%;
    position: static;
    height: 100%;
  }

  .fecility-sec .bottom {
    flex-direction: column;
    gap: 50px;
  }

  .fecility-sec .bottom .tech-card .card-body .para {
    width: 80%;
  }

  .about .container::before {
    width: 55%;
  }

  .whyUs .container .card img {
    width: 70%;
  }

  .whyUs .container .card .card-head {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .left-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }

  #location .box .text {
    display: none;
  }

  .faq .container .left {
    width: 100%;
    min-height: 500px;
  }

  .faq .container {
    padding: var(--nav-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: column;
  }

  .faq .right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
  }

  .faq .faqImage {
    margin-bottom: 40px;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .footer .container .bottom .left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    gap: 20px;
  }

  .footer {
    height: 100%;
    padding-top: 8%;
  }

  .footer .container .bottom {
    margin-bottom: 0px;
  }

  .footerLogo {
    margin-bottom: -60px;
    width: 100%;
    object-fit: cover;
  }

  .hero::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #835feb;
    filter: blur(140px);
    border-radius: 50%;
    transform: rotate(126deg);
    z-index: -1;
  }

  .hero::after {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 10%;
    background-color: #835feb;
    filter: blur(140px);
    border-radius: 50%;
    transform: rotate(126deg);
    z-index: -1;
  }
}

@media screen and (max-width: 840px) {
  :root {
    --h2: 26px;
  }

  .about .container::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 80%;
    background: linear-gradient(to bottom, #4dacef, rgba(77, 172, 239, 0));
    border-top-left-radius: 100%;
  }

  .footer .container .bottom .left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    gap: 20px;
    flex-wrap: wrap;
  }

  .hero .right .rightImage {
    width: 370px;
    height: 500px;
    object-fit: contain;
    position: absolute;
    bottom: -75px;
    right: 0;
    z-index: 100;
  }

  .footerLogo {
    margin-bottom: -30px;
    width: 100%;
    object-fit: cover;
  }

  #location .box .text {
    display: none;
  }

  .faq .container .left {
    width: 100%;
    min-height: 500px;
  }

  .faq .container {
    padding: var(--nav-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: column;
  }

  .faq .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

  .fecility-sec .bottom {
    gap: 30px;
  }

  .faq .faqImage {
    margin-bottom: 40px;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 640px) {

  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 100%;
    --h2: 30px;
    --head: 28px;
    --para: 14px;
    --para-sm: 14px;
    --section: 60px;
  }

  #location .details {
    margin-bottom: 10px;
  }

  .hero {
    height: 100%;
  }

  .hero .right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero::after {
    display: none;
  }

  .hero .container {
    padding: var(--container);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 180px;
  }

  .hero .right .rightImage {
    width: 80%;
    height: 80%;
    position: static;
    margin-bottom: -50px;
  }

  .fecility-sec .container .top .left .facility {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  .fecility-sec .bottom {
    margin-top: 50px;
  }

  .hospital .container .head,
  .hospital .container .head span {
    font-size: 30px;
  }

  .whyUs .container .card .card-body .head {
    font-size: 28px;
    width: 60%;
  }

  .fecility-sec::before {
    height: 20%;
  }

  .left-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    flex-direction: column;
  }

  #location .container {
    flex-direction: column;
  }

  #location .right {
    height: 100%;
    display: none;
  }

  #location .box img {
    width: 130px;
    height: 90px;
  }

  .fecility-sec .container .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-direction: column-reverse;
  }

  .about .container {
    gap: 60px;
    flex-direction: column-reverse;
  }

  .about .container .right img {
    width: 200px;
  }

  .about .container::before {
    display: none;
  }

  .faq .faqImage {
    margin-bottom: 0;
  }

  .footer {
    margin-top: var(--section);
  }

  .faq .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }

  .footer .container .bottom .left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    gap: 20px;
  }

  .about .container .left .btn-grp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 30px;
    flex-direction: column;
  }

  .faq .faqImage {
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 100%;
    --h2: 26px;
    --head: 28px;
    --para: 14px;
    --para-sm: 14px;
    --section: 60px;
  }

  .navbar .container .col-6 .location {
    width: 100%;
  }

  .reviews .h-Bar ul li .quote-icon {
    background-image: url("./assets/icon/qoute.svg");
    color: #033d5a;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
  }

  .navbar .container .col-6 {
    width: 50%;
  }

  .navbar .container .col-6:last-child {
    width: 50%;
  }

  .navbar .container .col-6 .location {
    display: none;
  }

  .navbar {
    margin-top: 0px;
  }

  .hero .container {
    padding: var(--container);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 120px;
  }

  .faq .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
  }

  #location .box {
    display: none;
  }

  .fecility-sec .container .top .left .facility {
    width: 100%;
    height: 80%;
    object-fit: contain;
  }

  #location .container .btn-blue {
    margin-top: 20px;
  }

  .footer .container .top {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }

  .footer .container .top h6 {
    width: 80%;
  }

  .footer .container .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 20px;
  }

  .footer .container .bottom .right .icon {
    margin-left: 0;
  }

  .footer .container .bottom .right .social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .footer .container .bottom .right .icon {
    width: 34px;
  }

  .hospital .container .head,
  .hospital .container .head span {
    font-size: 24px;
  }

  .hospital .container .para {
    font-size: var(--para);
    text-wrap: nowrap;
  }

  .whyUs .container .card .card-body .para {
    width: 80%;
  }

  .whyUs .container .card .card-body .head {
    font-size: 24px;
    width: 70%;
  }

  .footer .container .top h6 {
    width: 100%;
  }

  .footerLogo {
    margin-bottom: 0;
  }

  .fecility-sec .right h2 {
    color: #033d5a;
    font-size: var(--head);
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    width: 100%;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 390px) {

  :root {
    --nav-container: 0 8%;
    --container: 0 10%;
    --col-6: 100%;
    --h2: 28px;
    --head: 28px;
    --para: 14px;
    --para-sm: 14px;
    --section: 40px;
  }

  .reviews .marquee .testi-logo {
    width: 40px;
    height: 40px;
  }

  .hero .container {
    margin-top: 100px;
  }

  .fecility-sec {
    padding-top: 0;
    margin-top: var(--section);
  }

  .navbar .container .col-6 .number .callBtn {
    font-size: 18px;
  }

  .hero .left .para-sm {
    margin-bottom: 30px;
    width: 100%;
  }

  .fecility-sec .right .para {
    margin-bottom: 30px;
  }

  .icon-mid {
    width: 22px;
    height: 22px;
  }

  .reviews .reviews-card .star {
    margin: 0 5px 0 10px;
    width: 16px;
    height: 16px;
  }

  .reviews .top {
    margin-bottom: 20px;
  }

  .about .container {
    gap: 40px;
    flex-direction: column-reverse;
  }
}